.container{
    margin-top: 50px;
}
#errormsg{
    color: indianred;
    margin-left: 50px;
    font-size: larger;
}
* {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
}
.flash {
    background: rgba(0, 128, 0, 0.3) !important;
}